<%- include('partials/header'); -%>
<!-- Page Content -->
<div class="container">
	<div class="card border-0 shadow my-5 mx-auto">
		<div class="card-body p-5">
			<div class="text-center">
				<img class="card-img-top post-image"src="<%= imageUrl %>" alt="">
			</div>
			<h1 class="font-weight-light"><%= title %></h1>
			<p id="rich-text-body" class="lead">
				<script>
					document.getElementById('rich-text-body').innerHTML = "<%- content %>" ; 
				</script>
			</p>
			
		</div>
	</div>
</div>
<%- include('partials/footer'); -%>