<%- include('partials/header'); -%>
<!-- intro section -->
<section id="home-intro">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 column-left">
				<img class="personal-image" src="images/personal-image.png">
			</div>
			<div class="col-lg-5 column-right">
				<h3>MUHAMMED NUR ŞEHEBİ</h3>
				<hr class="short-hr">
				<p>
					I am an ambitious young professional who loves science and technology. My passion for learning grant
					me many experiences in building desktop, mobile and web applications, utilizing algorithms,
					designing databases and more. I am also interested in artificial intelligence and machine learning
					and would like to develop applications, products and tools that take advantage of those methods.
				</p>
				<button type="button" onclick=" window.location.href = '/about-me';"
					class="btn btn-outline-dark px-4 py-2 mt-2 btn-style">Read More</button>
			</div>
		</div>
	</div>

</section>

<!-- Projects Section -->

<section id="home-projects" class="brawn-section section-margin">
	<h2 class="header-padding">Projects</h2>
	<div class="home-projects-container container-fluid">
		<div class="row">
			<% projects.forEach(project => { %>
			<div class="project-box col-lg-4 col-md-6">
				<div class="row">
					<div class="col-lg-12">
						<h3 class="italic-style"><%= project.title %> </h3>
						<p><%= project.creationDate %></p>
					</div>
					<div class="col-lg-12">
						<button type="button italic-style" class="btn btn-outline-dark px-4 py-2 mt-2 btn-style"
							onclick=" window.location.href = '/cards/<%= project.id %>';">DETAILS</button>
					</div>
				</div>
			</div>
			<% }); %>
		</div>
	</div>
</section>

<!-- Blog Section -->

<section id="home-blog" class="gray-section section-margin">
	<h2 class="header-padding">Articles</h2>
	<hr class="short-hr">
	<div class="container">
		<div class="card-deck">
			<% posts.forEach(post => { %>
			<div class="card">
				<a href="/cards/<%= post.id %>"><img class="card-img-top" src="<%= post.imageUrl %>"
						alt="Card image cap">
				</a>
				<div class="card-body">
					<h5 class="card-title"><a href="/cards/<%= post.id %>" class="deck-title-link"><%= post.title %></a>
					</h5>
				</div>
				<div class="card-footer">
					<hr>
					<small class="text-muted">Last updated <%= post.updateDate %> </small>
				</div>
			</div>
			<% }); %>
		</div>
	</div>
</section>
<%- include('partials/footer'); -%>